<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">cash4sms</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="user.html">user list<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="sms.html">sms generator</a>
      <a class="nav-item nav-link" href="push.html">push status</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">disabled</a>
    </div>
  </div>
</nav>