{% extends 'layout.html' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <table class="table-striped">
            <tr>
                <td>Cras justo odio</td>
                <td>Dapibus ac facilisis in</td>
                <td>Morbi leo risus</td>
            </tr>
            <tr>
                <td>Cras justo odio</td>
                <td>Dapibus ac facilisis in</td>
                <td>Morbi leo risus</td>
            </tr>
            <tr>
                <td>Cras justo odio</td>
                <td>Dapibus ac facilisis in</td>
                <td>Morbi leo risus</td>
            </tr>
        </table>
    </div>
{% endblock %}