{% extends 'layout.html' %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">client_id</th>
                    <th scope="col">password</th>
                    <th scope="col">first_name</th>
                    <th scope="col">last_name</th>
                    <th scope="col">validated</th>
                    <th scope="col">sms_code</th>
                    <th scope="col">push_token</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in objs %}
                <tr>
                    <td>{{obj.client_id}}</td>
                    <td>{{obj.password}}</td>
                    <td>{% if obj.first_name != None %}{{obj.first_name}}{% endif %}</td>
                    <td>{% if obj.last_name != None %}{{obj.last_name}}{% endif %}</td>
                    <td>{{obj.validated}}</td>
                    <td>{{obj.sms_code}}</td>
                    <td>
                        {% if obj.push_token != None %}
                        <a href="/send?push_token={{ obj.push_token }}&client_id={{obj.client_id}}">
                            <button type="button" class="btn btn-secondary btn-sm">send_push</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}