{% extends 'layout.html' %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">client_id</th>
                    <th scope="col">password</th>
                    <th scope="col">push_token</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{objs[0].client_id}}</td>
                    <td>{{objs[0].password}}</td>
                    <td>{{objs[0].push_token}}</td>
                </tr>
                <tr>
                    <td>{{objs[1].client_id}}</td>
                    <td>{{objs[1].password}}</td>
                    <td>{{objs[1].push_token}}</td>
                </tr>
                <tr>
                    <td>{{objs[2].client_id}}</td>
                    <td>{{objs[2].password}}</td>
                    <td>{{objs[2].push_token}}</td>
                </tr>
                <tr>
                    <td>{{objs[3].client_id}}</td>
                    <td>{{objs[3].password}}</td>
                    <td>{{objs[3].push_token}}</td>
                </tr>
                <tr>
                    <td>{{objs[4].client_id}}</td>
                    <td>{{objs[4].password}}</td>
                    <td>{{objs[4].push_token}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}